@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 2rem;
  box-sizing: border-box;
  color: hsl(237, 12%, 33%);
  font-family: "Kumbh Sans", sans-serif;
  font-size: 13px;
  overflow: hidden;
}

.questions-container,
.answer {
  display: flex;
  flex-direction: column;
}
body {
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-bottom: 1rem;
}
/* Contenedor */
.drop-down-body {
  border-radius: 25px;
  background-color: white;
  min-height: 100%;
  max-width: 480px;
  min-width: 280px;
  padding-bottom: 1rem;
  position: relative;
  display: block;
  margin: 50px auto;
}

.question {
  font-size: 14px;
  color: hsl(237, 12%, 33%);
}

.question-container1:hover {
  color: hsl(14, 88%, 65%);
  cursor: pointer;
}
.answer1:hover {
  cursor: pointer;
}

.questions-container {
  display: flex;
}

.question-container {
  cursor: pointer;
  font-weight: 400;
  border-bottom: 1px solid hsl(240, 5%, 91%);
  max-width: 85%;
  text-align: left;
  padding: 1rem 0;
  position: relative;
}

.arrow1 {
  display: block;
  height: 7px;
  width: auto;
  transition: 300ms;
}
.arrow-rotate {
  transform: rotate(180deg);
}

.question__active {
  font-weight: 700;
  color: hsl(238, 29%, 16%);
}

.answer {
  display: none;
  overflow: hidden;
  font-weight: 400;
}

.answer__open {
  display: block;
  height: 56px;
  font-weight: 400;
  color: hsl(240, 6%, 50%);
  margin-top: 1rem;
  line-height: 1.5;
}

.faq {
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
}

.bg-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -124px;
  top: -110px;
  padding-right: 25px;
  position: relative;
}

.bg-image::before {
  background-image: url("../images/bg-pattern-mobile.svg");
  background-size: 100%;
}

.question-active {
  font-weight: 700;
  margin-bottom: 1rem;
  color: hsl(238, 29%, 16%);
}

.questions-container1 {
  padding: 0 1.65rem;
}

.question-container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.answer1 {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  margin: 0 4px 0px 0;
  color: hsl(240, 6%, 50%);
}

.hr {
  border-width: 1px;
  color: hsl(0, 0%, 100%);
  margin: 19px 0;
  padding: 0;
}

.bg-img {
  background-image: url(../images/illustration-woman-online-mobile.svg),
    url(../images/bg-pattern-mobile.svg);
  height: 196px;
  background-repeat: no-repeat;
}

.img-container {
  position: relative;
  height: 196px;
  width: 240px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -103px;
}

.img {
  position: absolute;
  left: -28px;
  top: -108px;
}
.shadow {
  position: absolute;
  top: 0px;
}

.desktop-img,
.desktop-shadow,
.desktop-box {
  display: none;
}

@media (min-width: 1127px) {
  .drop-down-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 777px;
    padding: 2rem;
  }
  .shadow,
  .img {
    display: none;
  }

  .img-container {
    margin: 0;
    position: relative;
  }

  .questions-container1 {
    max-width: 343px;
  }

  .faq {
    text-align: left;
  }

  .desktop-img,
  .desktop-shadow,
  .desktop-box {
    display: initial;
    position: relative;
  }
  .desktop-img {
    left: -127px;
    top: -94px;
  }
}
@media (min-width: 1127px) {
  .drop-down-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 777px;
    padding: 2rem;
  }
  .shadow,
  .img {
    display: none;
  }

  .img-container {
    margin: 0;
    position: relative;
  }

  .questions-container1 {
    max-width: 343px;
  }

  .faq {
    text-align: left;
  }

  .desktop-img,
  .desktop-shadow,
  .desktop-box {
    display: initial;
    position: relative;
  }
  .desktop-img {
    left: -127px;
    top: -94px;
  }

  .desktop-shadow {
    height: 444px;
    top: -436px;
    left: -99px;
  }
}

@media (min-width: 1127px) {
  .drop-down-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 777px;
    padding: 2rem;
  }

  .shadow,
  .img {
    display: none;
  }

  .img-container {
    margin: 0;
    position: relative;
  }

  .questions-container1 {
    max-width: 343px;
  }

  .faq {
    text-align: left;
  }

  .desktop-img,
  .desktop-shadow,
  .desktop-box {
    display: initial;
    position: relative;
  }
  .desktop-img {
    left: -127px;
    top: -94px;
  }

  .desktop-shadow {
    height: 468px;
    margin-top: -467px;
    left: -125px;
    top: -55px;
  }

  .desktop-box {
    margin-top: -169px;
    left: -147px;
    top: -167px;
  }
}
